*
!.gitignore
!Smart Calculator with Java/
!Smart Calculator with Java/task/
!Smart Calculator with Java/task/src/
!Smart Calculator with Java/task/src/calculator/
!Smart Calculator with Java/task/src/calculator/**
